# Directories #
################################################################################
bin
build

# Files #
################################################################################
/**/*.suo
/**/*.db
/**/*.opendb
/**/*.vcxproj.*
/**/*.sln
